
{% extends "themes/wp-bliss/base.html" %}

{% block title %}
Tree View
{% endblock %}

{% block bigtitle %}
Tree View
{% endblock %}

{% block content %}
<h2>
<a href="/tree/">{{ project}}</a>

{% if path %}
>
{% for entry in path %}
{% if forloop.revcounter0 %}
<a href="/tree/{{entry.link}}">
{% endif %}
{{entry.basename}}
{% if forloop.revcounter0 %}
</a>
{% endif %}

{% if forloop.revcounter0 %}
 > 
{% endif %}
{% endfor %}

{% endif %}

</h2>

<ul>
{% for entry in dirs %}
<li><a href=/tree/{{ entry.link }}>{{ entry.path }}/</a></li>
{% endfor %}

{% for entry in files %}
<li> <a href="/blob/{{entry.link}}">{{ entry.path }}</a></li>
{% endfor %}
</ul>

{% endblock %}



