
{% extends "themes/wp-bliss/base.html" %}

{% block title %}
Account Setting
{% endblock %}

{% block bigtitle %}
Account Setting
{% endblock %}

{% block content %}
<style type="text/css">
<!--
@import url("/css/table.css");
-->
</style>

<h2>
사용자 계정 설정
</h2>

<table id="hor-zebra">
<thead>
<tr>
<th scope="col"> </th>
<td scope="col"> </th>
</tr>
</thead>
<tbody>
<tr>
<td>
<img src="/media/softicons/certificate.png">
</td>
<td align="left">
<a href="/account/setting/sshkey/">-----------------------------------------> SSH Key 관리</a>
</td>
</tr>

</tbody>
</table>

{% endblock %}



