
{% extends "themes/wp-bliss/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block bigtitle %}

{% endblock %}

{% block sidetop %}
<h1>
{% if sidetop.pic %}
<img src="{{sidetop.pic}}" alt="avatar"/>
{% endif %}
{{ profile.nick }} ({{ id }})
</h2>
<ul>
  <li> 생성한 프로젝트: {{sidetop.owner}}</li>
  <li> 멤버인 프로젝트: {{sidetop.member}}</li>
</ul>
{% endblock %}


{% block content %}
<h3> Projects 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="/project/new/">
<input type="submit" class="styled-button-2" value="New Project" />
</a> 
</h3>

{% for project in projects %}
<p>
<table id="table-5">
<thead>
<th> 

<a href="/project/{{project.id}}/">{{ project.name }}</a> {% ifequal project.owner id %} (owner) {% endifequal %} 
:
저장소 {{ project.repos.count }} 개, 프로젝트 단계 {{ project.status }}
</th>
</thead>
<tbody>
<tr>
<td>{{ project.description }}</td>
</tr>
</tbody>
</table>
</p>
{% endfor %}

{% endblock %}



