
{% extends "themes/wp-bliss/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block bigtitle %}

{% endblock %}

{% block sidetop %}
<h1>
{% if sidetop.pic %}
<img src="{{sidetop.pic}}" alt="avatar"/>
{% endif %}
{{ profile.nick }} ({{ id }})
</h2>
<ul>
  <li> 생성한 프로젝트: {{sidetop.owner}}</li>
  <li> 멤버인 프로젝트: {{sidetop.member}}</li>
</ul>
{% endblock %}


{% block content %}
<style type="text/css">
#table-5 {
width: 700px;
background-color: #f5f5f5;
padding: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #ebebeb;
}
#table-5 td, #table-5 th {
padding: 1px 5px;
}
#table-5 thead {
font: normal 15px Helvetica Neue,Helvetica,sans-serif;
text-shadow: 0 1px 0 white;
color: #999;
}
#table-5 th {
text-align: left;
border-bottom: 1px solid #fff;
}
#table-5 td {
font-size: 14px;
}
#table-5 td:hover {
background-color: #fff;
}
</style>

<style type="text/css">
.styled-button-2 {
-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
border-bottom-color:#333;
border:1px solid #61c4ea;
background-color:#7cceee;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
color:#333;
font-family:'Verdana',Arial,sans-serif;
font-size:14px;
text-shadow:#b2e2f5 0 1px 0;
padding:5px
}
</style>

<h3> Projects 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="/project/new/">
<input type="submit" class="styled-button-2" value="New Project" />
</a> 
</h3>

{% for project in projects %}
<p>
<table id="table-5">
<thead>
<th> 

<a href="/project/{{project.id}}/">{{ project.name }}</a> {% ifequal project.owner id %} (owner) {% endifequal %} 
:
저장소 {{ project.repos.count }} 개, 프로젝트 단계 {{ project.status }}
</th>
</thead>
<tbody>
<tr>
<td>{{ project.description }}</td>
</tr>
</tbody>
</table>
</p>
{% endfor %}

{% endblock %}



