
{% extends "themes/wp-bliss/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block bigtitle %}

{% endblock %}

{% block content %}
<h2>
Welcome {{ profile.nick }} ({{ id }})
</h2>

<h3> My Project List </h3>

<ul>
  <li> Project name </li>
  <ul>
     <li> description </li>
     <li> Issues, member, activity .... </li>
  </ul>
</ul>

<ul>
  <li> Project name </li>
  <ul>
     <li> description </li>
     <li> Issues, member, activity .... </li>
  </ul>
</ul>

<ul>
  <li> Project name </li>
  <ul>
     <li> description </li>
     <li> Issues, member, activity .... </li>
  </ul>
</ul>

<ul>
  <li> Project name </li>
  <ul>
     <li> description </li>
     <li> Issues, member, activity .... </li>
  </ul>
</ul>


{% endblock %}



