
{% extends "themes/wp-bliss/base.html" %}

{% block title %}
Project Detail View
{% endblock %}

{% block content %}

<h1> 프로젝트명: {{ project.name }} </h1>

<p> {{ project.description }} </p>

<p>
<table id="table-5">
  <thead>
    <th>
      <font size="5">Members</font>
    </th>
    <th width="10">
    <a href="/project/adduser/{{project.id}}/">
	<!--<input type="submit" class="styled-button-2" value="Add Member" />-->
	<img src="{{media}}/softicons/plus.png">
      </a>
    </th>
    </thead>
  <tbody>
    <tr>
      <td>
{% for user in project.members.all %}
{% if user.get_profile.avatar %}
<img src="{{media}}/{{user.get_profile.avatar}}">
{% else %}
<img src="{{media}}softicons/user.png">
{% endif %}
<a href="/user/{{user.id}}">{{ user.get_profile.nick }}</a>
      </td>
      <td>
	<a href="/project/deluser/{{project.id}}/{{user.id}}/">
	<!--<input type="submit" class="styled-button-6" value="Remove" />-->
	<img src="{{media}}/softicons/less.png" width="20" height="20">
      </a>
      </td>
      </tr>
{% endfor %}
    <tbody>
</table>
</p>

<p>
<table id="table-5">
  <thead>
    <th>
      <font size="5">
      Repository
      </font>
    </th>
    <th width="10">
      <a href="/repository/new/{{project.id}}">
	<!--<input type="submit" class="styled-button-2" value="New Repository" />-->
	<img src="{{media}}/softicons/plus.png">
      </a> 
    </th>
    </thead>
  <tbody>
    <tr>
      <td>
{% for repo in project.repos.all %}
<a href="/repository/{{repo.id}}/">{{repo.reponame}}</a>
      </td>
      <td>
	<a href="/repository/del/{{repo.id}}/">
	<!--<input type="submit" class="styled-button-6" value="Remove" />-->
	<img src="{{media}}/softicons/less.png" width="20" height="20">
      </a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</p>

{% endblock %}



